/*--defaults--*/
:root {font-size: 20px;line-height: 1.4;font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--black: #282828;--drk-gray: ;--prime:#2A106C;--md-prime:#705aa8;--lt-prime:#E4DFF3;--gray:#605C6D;--lt-gray:#C5C2CC;--white:#FAFAFA;--standard: all .2s ease-in-out;--sm-shadow:0px 0px 3px rgba(25, 0, 50, 0.2);--lg-shadow:0px 0px 8px rgba(25, 0, 50, 0.15);}
*, *::before, *::after {box-sizing: border-box;}
html, body, article, header, nav, main, article, aside, section, div, h1, h2, h3, h4, h5, h6, p, ul, ol, audio, video, iframe, figure, figcaption, img, footer {margin: 0; padding: 0;}
a:link {color: var(--md-prime); transition: var(--standard); cursor: pointer; text-decoration: none;}
a:visited {color: var(--md-prime);}
a:hover {color: var(--prime);}
a:active{color: var(--prime);}
/*--doc styles--*/
html{scroll-behavior: smooth;}
body {background-color: var(--white);color: var(--black);}
h1, h2, h3, h4, h5, h6, .serif {font-family: 'EB Garamond', serif;}
.subtext {font-style: italic;font-size: 85%;}
section:not(#splash) {padding: 3rem 5vw;}
p:not(:first-of-type) {margin-top: 1.4em;}
p {line-height: 1.6;}
.btn-fill:link, .btn-fill:visited {
  display:inline-block;
  background-color: var(--prime);
  color: var(--white);
  border: 2px solid transparent;
  padding: .4em 1em .5em 1em;
  min-width: 230px;
  width: 16vw;
  margin: 1em auto;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: var(--standard);
}
.btn-fill:hover {
  background-color: transparent;
  color: var(--prime);
  border-color: var(--prime);
}
.btn-hollow:link, .btn-hollow:visited {
  display:inline-block;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  padding: .4em 1em .5em 1em;
  min-width: 230px;
  width: 16vw;
  margin: 1em auto;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: var(--standard);
}
.btn-hollow:hover {
  background-color: var(--white);
  color: var(--prime);
  border-color: var(--prime);
}
.btn-fill:link.btn-splash:link, .btn-fill:visited.btn-splash:visited {
  background: transparent;
  border: 2px solid var(--prime);
  color: var(--prime);
}
.btn-fill:hover.btn-splash:hover {
  border: 2px solid var(--prime);
  color: var(--white);
  background: var(--prime);
}
.btn-fill > svg, .btn-hollow > svg {
  position: relative;
  top: 6px;
  left: 5px;
}
/*--Navigation--*/
.main-nav {background: var(--prime);line-height: 1.1;}
.nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.1rem 2vw .9rem 2vw;
}
.brand, .brand g {
  cursor: pointer;
  transition: var(--standard);
}
.brand > svg {
  vertical-align: top;
  width: 30px;
  height: auto;
}
.brand > h1 {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 8px;
}
.nav-items {
  column-gap: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0;
  row-gap: 6px;
}
a.nav-link:link, a.foot-link:link {color: var(--lt-prime);}
a.nav-link:visited, a.foot-link:visited {color: var(--lt-prime);}
a.nav-link:hover, a.foot-link:hover {color: var(--white);}
a.nav-link:active, a.foot-link:active {color: var(--white);}
.brand:hover g {stroke: var(--white);}
/*--Splash--*/
#splash {
  height: 70vh;
  background-image: linear-gradient(135deg, #d6d4dd 0%, #ffffff 100%);
  position: relative;
  z-index: 9999;
}
#splash-bottom {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-image: url(../bin-img/victoria-ranson-transparent.png);
  background-repeat: no-repeat;
  background-position: 90% 35%;
  background-size: 400px;
  animation: painting 6s ease 0s infinite alternate backwards;
}
.image-credit {
  background-color: white;
  bottom: 12px;
  font-size: 16px;
  padding: 0 5px;
  position: absolute;
  right: 30px;
  z-index: 10000;
}
#splash-top {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-image: url(../bin-img/montrans.png);
  background-repeat: no-repeat;
  background-position: 85% 0;
  background-size: contain;
  z-index: 0;
  animation: statue 6s ease 0s infinite alternate forwards;
}
@keyframes painting {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes statue {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.spl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 12%;
  width: 40vw;
  height: 100%;
  position: absolute;
  z-index: 10000;
}
.spl-txt {
  color: var(--prime);
  text-align: center;
}
.spl-txt h1 {
  font-size: 2.4rem;
}
.spl-txt h2 {
  font-size: 1.4rem;
  opacity: .7;
  margin-bottom: 1rem;
}
.store-links {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.store-link img {
  opacity: 1;
  transition: var(--standard);
}
.store-link img:hover {
  opacity: .7;
}
.store-link.disabled img {
  opacity: .2;
  cursor: not-allowed;
}
.store-link.disabled img:hover {
  opacity: .5;
}
/*-History Section-*/
#history {
  background-color: var(--prime);
  color: var(--lt-prime);
  border: 1px solid var(--prime);
  outline: 2px dashed var(--lt-prime);
  outline-offset: -1em;
  display: flex;
  flex-direction: column;
}
.hist-txt {
  column-count: 2;
  column-gap: 4em;
  margin: 1em 0;
}
/*--Voices Section--*/
#voices {
  color: var(--black);
}
#voices h2 {
  color: var(--prime);
}
#voices > p {
  margin-bottom: 1.5rem;
}
.voices-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: start;
}
.voice-card {
  position:relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  padding: .5rem .5rem .6rem .5rem;
  background-color: transparent;
  border: none;
  color: var(--prime);
  transition: var(--standard);
  border: 2px dashed var(--lt-prime);
}
.voice-card:hover {
  border: 2px dashed var(--prime);
}
.voice-card.expanded {
  background-color: var(--lt-prime);
  border: 2px solid var(--md-prime);
}
audio {
  width: 100%;
  margin: .75rem 0 .25rem 0;
}
.voice-card figcaption {
  text-align: right;
  position: relative;
}
figcaption svg {
  position: relative;
  top: 4px;
}
.voice-card h4 {
  font-size: 1.5em;
}
.voice-card h5 {
  margin-top: 1rem;
  font-size: 1.45em;
  margin-bottom: .25rem;
}
.voice-card p, .voice-card figcaption {
  font-size: 1.25em;
  color: var(--black);
  margin: 0 0 .5rem 0;
}
.voice-card h4:after {
  content:'\002B';
  color: var(--md-prime);
  position: absolute; 
  top: 0rem;
  right: .75rem;
  font-size: 1.6em;
}
.voice-card:hover h4::after {
  color: var(--prime);
}
h4.opened:after {
  content:'\2212'; 
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
  max-height: 99em;
  transition: max-height .5s ease-in-out;
}
/*--Resources Section --*/
#resources {
  background-color: var(--lt-prime);
  border: 1px solid var(--lt-prime);
  outline: 2px dashed var(--prime);
  outline-offset: -1em;
  display: flex;
  flex-direction: column;
}
#resources h2 {
  color: var(--prime);
}
#resources > p {
  margin-bottom: 2rem;
}
.resources-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.resources-card {
  cursor: pointer;
}
.resources-card h4 {
  font-size: 1.15em;
  color: var(--prime);
}
.resources-card span {
  color: var(--black);
}
.resources-card:hover h4 {
  color: var(--md-prime);
}
.resources-card:hover span {
  color: var(--prime);
}
/*--Pedagogy Section --*/
#pedagogy h2 {
  color: var(--prime);
}
.pedagogy-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0 2rem;
}
#pedagogy .content {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pedagogy .btn-fill {
  margin-top: 2rem;
}
#pedagogy h3 {
  color: var(--prime);
}
#pedagogy > p {
  margin-bottom: 2rem;
}
#pedagogy .picture {
  max-width: 350px;
  margin: 0 auto;
}
#pedagogy figcaption {
  font-size: .85em;
  margin-top: .25rem;
  color: var(--prime);
  text-align: right;
}
#pedagogy img {
  width: 100%;
  height: auto;
}
/*--Credits Section --*/
#credits {
  background-color: var(--prime);
  color: var(--lt-prime);
  border: 1px solid var(--prime);
  outline: 2px dashed var(--lt-prime);
  outline-offset: -1em;
  display: flex;
  flex-direction: column;
}
.credits-txt {
  column-count: 2;
  column-gap: 4em;
  margin: 1em 0;
}
#credits a:link, #credits a:visited {
  color: #b6a8db;
}
#credits a:hover, #credits a:active {
  color: var(--white);
}
/*--Contact Section --*/
#contact {
  background-color: var(--lt-prime);
}
#contact h2 {
  color: var(--prime);
}
#contact > p {
  margin-bottom: 2rem;
}
/* Participate Section */
#participate {
  background-color: var(--lt-prime);
}
#participate h2 {
  color: var(--prime);
}
#participate a {
  display: block;
  padding: 0.8rem 1rem;
  margin-top: 40px;
}
/*--Footer--*/
footer {
  background-color: var(--prime);
  color: var(--lt-prime);
  width: 100%;
  position: relative;
}
footer svg {
  width: 18px;
  position: relative;
  top: 7px;
}
.foot-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2vw .9rem 2vw;
}
.foot-link:not(:last-of-type) {
  margin-right: 2em;
}
/* form styles */
#contact .btn-fill {
  position: relative;
  font-size: 1rem;
  font-family: inherit;
}
#contact .btn-fill > svg {
  top: 0px;
  left: 10px;
  font-size: 1rem;
}
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: 16vw;
  min-width: 230px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 1rem;
  background-color: var(--prime);
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 2px solid transparent !important;
  color: var(--white) !important;
  text-transform: uppercase;
}
#fs-frm [type="button"]:hover,
#fs-frm [type="submit"]:hover,
#fs-frm [type="reset"]:hover {
  background-color: var(--white);
  border: 2px solid var(--prime) !important;
  color: var(--prime) !important;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}
#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}
#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
/*--Subpage Styles--*/
#person {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*-- WebVR Styles--*/
h1.page-title {
  display: none;
}
a.info-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  color: var(--black);
  background-color: rgba(255,255,255,1);
  border: 2px solid var(--black);
  border-radius: 100%;
  padding: .2rem .75rem .12rem .7rem;
  font-weight: 900;
  font-family: serif;
  font-style: italic;
}
a:hover.info-btn {
  color: red;
  border-color: red;
}
a.home-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10000;
  color: var(--black);
  background-color: rgba(255,255,255,1);
  border: 2px solid var(--black);
  border-radius: 8px;
  padding: .12rem .5rem;
  font-size: 90%;
  font-weight: 800;
  text-transform: uppercase;
}
a:hover.home-btn {
  color: red;
  border-color: red;
}
#info-card {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 9000;
  background: rgba(255, 255, 255, 0.9);
  max-width: 33vw;
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease;
  border-radius: 8px;
}
#info-card.show {
  max-height: 33rem;
  padding: .5rem .8rem;
  border: 3px solid var(--drk-gray);
}
#info-card h2 {
  font-size: .95rem;
  margin: 1rem 0 .1rem 0;
}
#info-card p {
  font-size: .8rem;
  margin: 0 0 .1rem 0;
}
#info-card hr {
  color: #ccc; 
  border-style: dashed;
}
#info-card .credits {
  font-style: italic;
  color: var(--gray);
}
#info-card kbd {
  background: #FFF;
  border: 1px solid var(--black);
  padding: 0 .2em;
  border-radius: 4px;
}
/*--Media Queries--*/
@media screen and (max-width: 1080px) {
  #splash-bottom {background-position: 90% 38%;background-size: 380px;}
  .voices-wrap {grid-template-columns: repeat(2, 1fr);grid-gap: 2em;}
  .credits-wrap {grid-template-columns: repeat(2, 1fr);}
  .store-links {width: 98%; justify-content: space-evenly;margin: 2rem auto;}
  .store-link {margin-right: 1rem;}
  #info-card {max-width: 40vw;}
}
@media screen and (max-width: 990px) {
  :root{font-size: 18px;}
  .nav-wrap{flex-direction:column;align-items: center;}
  section:not(#splash) {padding: 2rem 3vw;}
  .spl-wrap {width: 49vw;margin-left: 8%;}
  #splash-bottom {background-position: 93% 40%;background-size: 280px;}
  .hist-txt {column-gap: 2em;}
  .resources-wrap {grid-template-columns: repeat(2, 1fr);}
  .credits-wrap {grid-template-columns: repeat(2, 1fr);}
  #info-card {max-width: 50vw;}
}
@media screen and (max-width: 768px) {
  .spl-wrap {width: 44vw;margin-left: 8%;}
  .voices-wrap {grid-template-columns: 1fr;}
  .credits-wrap {grid-template-columns: 1fr;}
  .pedagogy-wrap {grid-template-columns: 1fr; grid-gap: 2rem;}
  #pedagogy .picture {order: -1;}
  #history, #resources, #credits {outline-offset: -.2em;}
  .hist-txt, .credits-txt {column-count: 1;}
  #info-card {max-width: 75vw;}
}
@media screen and (max-width: 550px) {
  :root{font-size: 16px;}
  section:not(#splash) {padding: 1rem 2vw; outline: none;}
  #splash{background-position: 96%;}
  .spl-wrap {margin-left: 0%; width: 100%; background-color: rgba(255,255,255,0.8);}
  .spl-txt{font-size:115%;}
  .voices-wrap {grid-template-columns: 1fr;}
  .resources-wrap {grid-template-columns: 1fr;}
  .credits-wrap {grid-template-columns: 1fr;}
  #info-card {max-width: 85vw;}
  .nav-items {font-size: 95%;}
  .voice-card h4:after {font-size:1.4em;}
  .brand > svg {width: 25px;height: auto;}
}
